/*================*/
/*BASIC SETUP*/
/*================*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size:62.5%;
  scroll-behavior:smooth;
}
body{
  font-family: 'Titillium Web', sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.3;
}
ul li{
  list-style-type: none;
}
/*HEADING*/
h1{
font-size: 4.2rem;
color: #fff;
}
/*================*/
/*REUSABLE COMPONENTS*/
/*================*/
.row{
  max-width: 114rem;
  margin:auto;
}
section{
  padding:8rem;
}
h4{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
}
h2{
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align:center;
}
h2::after{
  content: "";
  display:block;
  background: #c8d9e5;
  height: .4rem;
  width: 8.5rem;
  margin: auto;
  margin-top: 1.5rem;
}
h3{
  font-size:2.4rem;
  padding: 20px;
  text-transform:uppercase;
  font-weight: 600;
  color: #fff;
}
.box{
padding: 1%;
}
.box p{
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 2rem;
  color: #fff;
}
/* BUTTON*/
.btn:link,
.btn:visited,
.btn{
background: #EB7D4B;
border-bottom: .3rem solid #C86A40;
color: #fff;
text-decoration: none;
text-transform: uppercase;
padding: 1.5rem 6rem;
border-radius: .3rem;
display: inline-block;
margin-top: 4.5rem;
font-size: 1.6rem;
}
/*Paragraph*/
.little-description{
  font-size: 1.8rem;
  width:60%;
  margin-left: 20%;
  line-height: 30px;
}
/*================*/
/*HEADER SECTION*/
/*================*/
header{
  text-align: center;
  background: linear-gradient(rgba(135, 80, 156, 0.7),rgba(135, 80, 156, 0.7)), url("../img/image4.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  height: 85vh;
  position: relative;
  background-attachment: fixed;
}
.logo{
  height:4.3rem;
  width: auto;
  margin-top: 3.5rem;
  float: left;
  margin-left: 4rem;
}
.hero-text-box{
width:114rem;
}
/*MAIN NAVIGATION*/
.main-nav{
  float:right;
  margin-top: 4rem;
  margin-right: 2rem;
}
.main-nav li{
  display: inline-block;
  margin-left: 1rem;
}
.main-nav li:first-child{
  margin-left: 0;
}
.main-nav li a:link,
.main-nav a:visited{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: rgb(100,58,121,0);
  padding: .5rem 1.6rem;
  border-radius: .3rem;
  display: inline-block;
  font-size: 1.6rem;
  transition: 0.3s;
}
.main-nav li:hover a:link,
.main-nav li:hover a:visited{
background: rgb(64,7,85);
}
.active{
background: rgb(64,7,85);
border-radius: .3rem;
}
/* STICKY NAVIGATION*/
.sticky{
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(135,80,156,0.9);
  padding: .7rem 0;
  box-shadow: 0 0.3rem 0.5rem rgba(255,255,255,0.6);
  z-index: 9999;
}
.sticky .logo{
  margin-top: 0;
}
.sticky .main-nav{
  margin-top: .6rem;
}
.hero-text-box{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
/* MOBILE MENU */
.mobile-menu span{
  color: #fff;
  font-size: 4rem;
  float: right;
  margin-top: 2rem;
  margin-right: 1rem;
  display: none;
  cursor: pointer;
}
.mobile-menu span:hover{
  cursor: pointer;
}
.overlay{
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 1;
  overflow-x:hidden;
  transition: .5s;
}
.overlay-content{
  position: relative;
  top: 4%;
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}
.overlay a{
  text-decoration: none;
  display: block;
  font-size: 3.5rem;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .1rem;
  padding: 1rem;
}
.overlay a:hover{
  color: #fff;
}
.closebtn{
  position: relative;
  top: 2rem;
  left:12rem;
  font-size: 9rem;
}
.overlay .closebtn{
    font-size: 6rem;
}
.sticky .mobile-menu span{
  margin-top: 0;
}
/*================*/
/*SERVICES SECTION*/
/*================*/
.services-section{
  background: linear-gradient(rgba(23, 194, 164, 0.7),rgba(23, 194, 164, 0.7)), url("../img/image5.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  color: #fff;
  text-align: center;
}
.services-icon{
  height: 12rem;
  margin-top: 4.5rem;
  margin-bottom: 3.5rem;
}
/*====================*/
/* TEAM SECTION */
/*====================*/
.team-section{
  text-align:center;
  background:linear-gradient(rgba(231, 241, 248, 0.7),rgba(231, 241, 248, 0.7)), url("../img/team.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  background-attachment: fixed;
}
.team-section h2{
  color: #3C4761;
}
.team-section h2::after{
  background: #C8D9E5;
}
.team-member{
  margin-top: 4.5rem;
  margin-bottom: 3rem;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
}
.team-section h3{
  font-size: 2.4rem;
  padding: 1rem;
  color: #3C4761;
  font-weight: 700;
}
.role{
  color: #30BAE7;
  font-size: 1.6rem;
  text-transform: capitalize;
  margin-top: .5rem;
  display: inline-block;
}
.team-section p{
  color: #535E75;
}
.social-link{
  margin-top: 4.5rem;
}
.social-link ul li{
  display: inline-block;
  margin: 0 .5rem;
}
.social-link ul li i {
  color: #fff;
  font-size: 2rem;
}
.social-link ul li a:link i::before{
  background:#BDD1DF;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 50%;
}
.social-link ul li a:hover i::before{
  background: #393939;
  transform: rotate(360deg);
  transition: .5s;
}
/*=======================*/
/*=====SKILL SECTION=====*/
/*=======================*/
.skill-section{
  text-align: center;
  color: #3C4761;
  background:linear-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7)), url("../img/keyboard.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
}
.skill-section p{
  color: #3C4761;
  font-size: 1.8rem;
  width:60%;
  margin-left: 20%;
  line-height: 30px;
  text-align: center;
}
.skill-section h3{
  color: #3C4761;
  font-size: 2.4rem;
}
.skill-section .box{
  margin-top: 4.5rem;
}
svg.radial-progress circle{
  stroke-width:5;
}
svg.radial-progress text{
  fill:#3C4761;
  font-size: 1.5rem;
}
svg.web-design  circle{
  stroke: #30BAE7;
}
svg.html-css circle{
  stroke: #D74680;
}
svg.graphic-design circle{
  stroke: #15C7A8;
}
svg.ui-ux circle{
  stroke: #EB7D4B;
}
/*=======================*/
/*=====PORTFOLIO SECTION=====*/
/*=======================*/
.portfolio-section p{
  color: #3C4761;
  font-size: 1.8rem;
  width:60%;
  margin-left: 20%;
  line-height: 30px;
  text-align: center;
}
.portfolio-section{
  text-align: center;
  color: #3C4761;
  background:linear-gradient(rgba(255, 221, 153, 0.9),rgba(255, 221, 153, 0.9)), url("../img/portfolio-bg.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  background-attachment: fixed;
}
.portfolio-section h2::after{
background: #E5C37F;
}
.portfolio-filter{
  margin: 4.5rem 0;
}
.portfolio-filter button{
  background: #EBC985;
  font-size: 1.8rem;
  font-weight: 600;
  padding:1rem;
  border: 0;
  border-radius: .5rem;
  text-transform: uppercase;
  color:#3C4761;
  margin: 0 .3rem;
  box-sizing: border-box;
}
.portfolio-filter button:hover{
cursor: pointer;
box-shadow: inset 0 0.3rem 0.5rem rgba(60, 71, 97, 0.5);
transition: .3s;
}
.portfolio-image{
  width: 100%;
  height:auto;
}
.portfolio-section .col:nth-child(4){
  margin-left: 0;
}
.portfolio-section h4{
  margin-top: 2.5rem;
  text-align: center;
}
.portfolio-section .btn-load-more{
  background: #17C2A4;
  border-bottom: .3rem solid #14A58C;
}
.portfolio-section .mixitup-control-active{
  background: #fff;
}
/*=======================*/
/*=====TESTIMONIAL SECTION=====*/
/*=======================*/
.testimonial-section{
  background:linear-gradient(rgba(215, 70, 128, 0.9),rgba(215, 70, 128, 0.9)), url("../img/testimonial.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
}
.testimonial-section .little-description{
  text-align:center;
  color: #fff;
}
.testimonial-section .col:nth-child(3) {
margin-left: 0;
}
.testimonial-section .col:nth-child(1),
.testimonial-section .col:nth-child(2){
  margin-top: 4rem;
}
.testimonial-section .col:nth-child(3),
.testimonial-section .col:nth-child(4){
  margin-top: 8rem;
}
.client-photo{
  width: 10rem;
  float: left;
}
.client-photo img{
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin-bottom: 3rem;
}
.client-review{
  width: 30rem;
  float: left;
}
.client-review p{
  font-size: 2.1rem;
  font-style:italic;
  margin-bottom: 2rem;
  margin-top: .5rem;
  padding-left: 2rem;;
}
.client-review h3{
  padding:0;
  margin-left: 2rem;
}
.client-review span{
  margin-left: 2rem;
}
.testimonial-section h2{
  color: #fff;
}
.client-review .role{
  color: #ffdd99;
}
.testimonial-section h2::after{
  background: #B73C6D;
}
/*=======================*/
/*=====CONTACT SECTION=====*/
/*=======================*/
.contact-section{
background: linear-gradient(rgba(60, 84, 153, 0.7),rgba(60, 84, 153, 0.7)), url("../img/contact.jpg");
background-repeat: no-repeat;
background-size:cover;
background-position: center center;
text-align: center;
background-attachment: fixed;
}
.contact-section h2{
  color: #fff;
}
.contact-section h2::after{
  background: #273A71;
}
.contact-section p{
  font-size: 2.1rem;
  margin-bottom: 2rem;
  padding-left: 2rem;
  text-align: center;
  color: #fff;
}
.contact-section form{
  margin-top: 5rem;
  width: 70%;
  margin-left: 15%;
}
.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section textarea{
  background: #273A71;
  border: .1rem solid #273A71;
  border-radius: .3rem;
  width: 100%;
  padding: 2rem;
  font-size: 1.8rem;
  color: #fff;
  margin-top: .5rem;
}
.contact-section form ::-moz-placeholder{
  color: #fff;
  opacity: 1;
}
.contact-section form :-ms-input-placeholder{
  color: #fff;
  opacity: 1;
}
.contact-section form ::placeholder{
  color: #fff;
  opacity: 1;
}
.contact-section textarea{
  margin-top: 2.5rem;
}
.contact-section .btn-submit{
  background: #30BAE7;
  border:0px;
  border-bottom: .3rem solid #299EC5;
}
.contact-section .btn-submit:hover{
  cursor: pointer;
}
/*=======================*/
/*=====FOOTER SECTION=====*/
/*=======================*/
.footer-section{
  background: #344B8E;
  padding: 3rem 0;
  text-align: center;
  border-top: .1rem solid rgba(255,255,255,0.2);
}
.footer-section ul li {
display: inline-block;
margin: 0 2rem;
font-size: 2.4rem;
color: #fff;
text-transform: capitalize;
}
.footer-section ul li a{
  text-decoration: none;
  color: #fff;
}
.footer-section ul li a:hover{
  color: #30BAE7;
}
